@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

* {
    font-family: "Rubik", sans-serif;
}

h2 {
    font-weight: bolder;
}

* {box-sizing:border-box}

#carrousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

#interaction-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#interaction-button button {
  margin: 0 4px;
}
